.aw-localize .compview table.jstmplng {
	width: 100%;
}

.aw-localize .compview td.jstmp,
.aw-localize .compview td.jslng {
	width: 50%;
}

.aw-localize .compview {
	position: relative;
}

.aw-localize .compview .cmnmenu {
	position: absolute;
	top: 5px;
	right: 7px;
}
.aw-localize .compview .cmnmenu a {
	margin-left: 10px;
}

.aw-localize .compview .cmntl {
	padding: 7px;
	background-color: #E3E3D7;
    border: 1px solid #8C8D8E;
    position: relative;
}
.aw-localize .compview .jstplview,
.aw-localize .compview .jslngview {
	border-top: none;
}
