.aw-localize .complist {
	border: 1px solid #8C8D8E;
	min-width: 250px;
}
.aw-localize .complist .gtl {
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;	
	padding: 5px;
}

/* * * * * Module Row * * * * */
.aw-localize .complist .crow {
	border: 1px solid #E3E3D7;
	float: left;
	width: 148px;
	margin: 3px;
	cursor: pointer;
	padding: 7px 7px;
	overflow: hidden;
}
.aw-localize .complist .crow:hover {
	background-color: #FFF0C6;
}
.aw-localize .complist .crow .sel {
	font-weight: bold;
}

