.aw-localize .jslngview {
	border: 1px solid #8C8D8E;
}
.aw-localize .jslngview .gtl {
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;	
	padding: 5px;
}
.aw-localize .jslngview .gtl {
	padding: 5px 7px;
}
.aw-localize .jslngview .viewbox {
	padding: 7px;
}

/* * * * * Row * * * * */
.aw-localize .jslngview .tlrow {
	padding: 5px;
	padding-top: 1px;
	position: relative;
	cursor: pointer;
	height: 18px;
	overflow: hidden;
	line-height: 20px;
}
.aw-localize .jslngview .lrow .dt {
	color: #555555;
}
.aw-localize .jslngview .lrow .dd {
	margin-left: 5px;
	color: #006699;
	overflow: hidden;
}
.aw-localize .jslngview .lrow .childs {
	padding-left: 10px;
}
.aw-localize .jslngview .tlrow:hover {
	background-color: #FFF0C6;
}

.aw-localize .jslngview a.cmpstnew {
	display: none;
	text-decoration: none;
	font-weight: bold;
	color: green;
	font-size: 1.5em;
	margin-right: 5px;
}

.aw-localize .jslngview a.cmpstnew:HOVER {
	text-decoration: underline;
}
.aw-localize .jslngview .fcmpstnew a.cmpstnew {
	display: inline;
}
.aw-localize .jslngview .fcmpstnew .amenu {
	display: none !important;
}

/*
.aw-localize .jslngview .fcmpstnew span.dt,
.aw-localize .jslngview .fcmpstnew span.dd {
	color: green;
}
/**/

/* * * * * MENU * * * * */
.aw-localize .jslngview .lrow .amenu {
	position: absolute;
	right: -1px; 
	top: 0px;
	background-color: #FFF;
	border: 1px solid #dadada;
	display: none;
}
.aw-localize .jslngview .tlrow:hover .amenu {
	display: block;
}
.aw-localize .jslngview .lrow .amenu .b {
 	border-right: 1px solid #DADADA;
    cursor: pointer;
    float: left;
    height: 18px;
    padding-left: 5px;
    padding-top: 4px;
    width: 18px;
}
.aw-localize .jslngview .edt .amenu .baddm {
	display: none;
}

.aw-localize .jslngview .lrow .amenu .badd {
	background: url("/modules/localize/images/icons001.png") no-repeat scroll -57px -24px transparent;	
}

.aw-localize .jslngview .lrow .amenu .bedit {
	background: url("/modules/botask/images/icons001.png") no-repeat scroll -29px -24px transparent;
}
.aw-localize .jslngview .lrow .amenu .brem {
	background: url("/modules/localize/images/icons001.png") no-repeat scroll -42px -24px transparent;
}

.aw-localize .jslngview .lrow .amenu .bc {
	height: 14px;
    width: 12px;
}

/* * * * * Editor * * * * */
.aw-localize .lngeditor .seltype {
	display: none;
}
.aw-localize .lngeditor .isnew .seltype {
	display: block;
}

.aw-localize .lngeditor .cont .value {
	display: none;
}

.aw-localize .lngeditor .name {
	margin-left: 10px;
	width: 200px;
}
.aw-localize .lngeditor textarea {
	width: 300px;
	height: 100px;
}
