.aw-localize .jstplview {
	border: 1px solid #8C8D8E;
}

.aw-localize .jstplview .gtl {
	position: relative;
	background-color: #E3E3D7;
	border-bottom: 1px solid #8C8D8E;	
	padding: 5px;
}

.aw-localize .jstplview .gtl {
	padding: 7px;
}

.aw-localize .jstplview .viewbox {
	padding: 7px;
	padding-bottom: none;
}


/* * * * * Template Row * * * * * */
.aw-localize .jstplview .trow {
	margin-bottom: 7px;
}
.aw-localize .jstplview .trow .thd {
	position: relative;
	color: #555555;
	padding: 7px;
	border: 1px solid #E3E3D7;
	margin-bottom: 7px;
	background-color: #F9F5DF;
}

.aw-localize .jstplview .trow .tmnu {
	position: absolute;
	top: 5px;
	right: 10px;
}

.aw-localize .jstplview .trow .tmnu a {
	margin-right: 10px;
}

.aw-localize .jstplview .trow .tresult,
.aw-localize .jstplview .trow .tsource,
.aw-localize .jstplview .trow .teditor,
.aw-localize .jstplview .trow .bcreate {
	display: none;
}

.aw-localize .jstplview .trow .tresult {
	min-height: 50px;
}
.aw-localize .jstplview .trow .stresult .tresult {
	display: block;
}
.aw-localize .jstplview .trow .stsource .tsource {
	display: block;
}
.aw-localize .jstplview .trow .steditor .teditor {
	display: block;
}
.aw-localize .jstplview .trow .steditor .bcreate {
	display: inline; 
}


