.aw-localize .modview .modempty {
	border: 1px solid #8C8D8E;
    padding: 7px;
}

.aw-localize .modview .mdmtl {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.aw-localize .modview .complist {
	margin-bottom: 13px;
}

